@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
a{
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-decoration: none;
}
body {
  background-color: #081852;
  overflow-x: hidden;
  font-family: 'Comfortaa', cursive;
}

#artlab_logo {
  height: 5rem;
  padding-left: 3rem;
}
#ykt{
  text-align: center;
}
#ykt img{
  height: 12rem;
  margin-top: -4rem;
}

.navbar {
  background-color: #081852;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
}

.navbar_right .buttons button {
  cursor: pointer;
}

.mobile-icon {
  display: none;
}

.main_section .container .row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.main_section .container .row .row-main {
  display: flex;
  flex-direction: row;
}

.main_section .container .row .row-main .row-main-left-text {
  max-width: 60%;
}

.main_section .container .row .row-main .row-main-left-hex {
  max-width: 40%;
  margin: 20px 50px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 10px;

}

.main .main-left {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 50px;
}

.main .main-left h2 {
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace;
  color: white;
  margin-top: 20px;
  font-size: 2rem;
}

.main .main-left .artlab-title {
  color: #e0dada;
  font-weight: 600;
  font-size: 10rem;
 font-family: "Source Code Pro", monospace;
  text-shadow: 14px 30px 0 #261aa4, -14px -30px 0 #600677;
  text-transform: uppercase;
  margin: 0 100px;
}

.main-left .text {
  width: 100%;
  font-size: 1.3rem;
  color: white;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 2rem 1rem;
  margin-top: 50px;
}

.main .main-left .artlab-title {
  margin-left: 150px;
}
.main .main-right {
  width: 50vw;
  position: relative;
  padding-left: 50px;
}

.main .main-right .main-right-img-hex {
  width: 90%;
  margin-top: 140px;
  margin-left: 20px;
}

.main .main-right .main-right-img-logo {
  width: 22%;
  position: absolute;
  right: 29%;
  bottom: 10%;
}
.seminar {
  width: 100%;
  height: 100%;
  background: rgb(8,24,82);
  background: -moz-linear-gradient( rgba(8,24,82,1) 20%, rgba(55,6,68,1) 40%, rgba(55,6,68,1) 60%, rgba(8,24,82,1) 80%);
  background: -webkit-linear-gradient( rgba(8,24,82,1) 20%, rgba(55,6,68,1) 40%, rgba(55,6,68,1) 60%, rgba(8,24,82,1) 80%);
  background: linear-gradient( rgba(8,24,82,1) 20%, rgba(55,6,68,1) 40%, rgba(55,6,68,1) 60%, rgba(8,24,82,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#081852",endColorstr="#081852",GradientType=1);
}
.title_seminar {
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: #261aa4;
  margin-bottom: 1rem;
}
.card img{
  object-fit: contain;
  height: 15rem;
  margin-top: 1rem;
}
.cardtop{
  display: flex;
  justify-content: space-around;
  gap : 1rem;
  margin-bottom: 1rem;
}
.cardbottom{
  display: flex;
  justify-content: space-around;
  gap : 1rem;
}

.card {
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
  margin-top: 1rem;
  width: 33%; 
  height: 25rem;
}

.container {
  padding: 15px 16px;
 
}
h1 {
  font-weight: 500;
  font-size: 23px;
}
h2 {
  font-weight: 500;
  font-size: 15px;
  color: darkgrey;
}
h3 {
  font-weight: 500;
  font-size: 18px;
}
h4 {
  font-weight: 500;
  font-size: 14px;
  color: darkgrey;
}
.sponsor h2{
  text-align: center;
  color: white;
  padding: 1.2rem;
  font-size: 1.5rem;
}
.icons{
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.icon h3{
  text-align: center;
  color: white;
  padding-top: 0.6rem;
  font-size:1.2rem;
  padding-bottom:2rem;
}

.icon img{
  height: 6rem;
  padding: 0.5rem;
}

.container h4{
  text-align: center;
  font-size: 1.3rem;
  color: white;
}
.container p{
  text-align: center;
  font-size: 1.3rem;
  color: rgb(192, 181, 181);
}
#backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#backtotop i {
  color: rgb(85, 2, 85);
  font-size: 45px;
  transition: color .6s;
}

#backtotop i:hover {
  color:purple;
}
.soru{
  font-size: 20px;
  font-weight: 800;
}
.cevap{
  font-size: 18px;
  margin-bottom:0.5rem;
}

@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  .icons {
    flex-direction: column;
  }
  .icon {
    margin-left: auto;
    margin-right: auto;
  }
.icons{
  display: flex;
  flex-direction: row;
}
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .navbar .logo {
    display: none;
  }
  .navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .navbar_right .buttons button {
    margin-left: 100px;
  }

  .navbar_right .logos {
    margin-left: 50px;
    margin-right: 50px;
  }
  .circle1 {
    display: none;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main .main-left {
    width: 90vw;
  }
  .main .main-left .artlab-title {
    margin-left: 30px;
    margin-right: 30px;
  }

  .main .main-right {
    width: 90vw;
  }
  .main .main-right .main-right-img-logo {
    width: 22%;
    position: absolute;
    right: 30%;
    bottom: 10%;
  }

}

@media screen and (max-width: 768px) {
  #ykt img{
    margin-top:0rem;
  }

  .card {
    width: 100%;
  }

  .cardbottom {
    flex-direction: column;
  }
  .cardtop {
    flex-direction: column;
  }
  body {
    overflow-x: hidden;
  }
.icons{
  margin-top: 27rem;
  display: flex;
  flex-direction: column;
}
.icon{
  padding-bottom:2rem ;
}
  .hidden {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 20rem;
    width: 100%;
    padding-bottom: 30px;
    position: relative;
    z-index: 0;
  }

  .navbar_right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .navbar_right .buttons button {
    margin-left: 0;
  }

  .navbar_right .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 40px;
  }
  .navbar_right .logos img {
    margin-top: 20px;
  }
  .mobile-icon {
    display: block;
    margin: 20px 30px 20px auto;
  }
  .circle1 {
    display: none;
  }
  .main .main-right {
    width: 100vw;
    margin-right: 50px;
  }
  .main .main-right .main-right-img-hex {
    margin-top: 50px;
  }
  .main .main-right .main-right-img-logo {
    width: 22%;
    position: absolute;
    right: 25%;
    bottom: 10%;
  }
  .main .main-left .artlab-title {
    font-size: 4rem;
  }
  .main .main-left .artlab-text {
    font-size: 1rem;
    margin-top: 50px;
  }
  .main .main-left .text {
    width: 90%;
    font-size: 1.5rem;
  }
  .title_seminar{
    font-size: 1.5rem;
  }
   .soru{
    font-size: 15px;
    font-weight: 800;
  }
  .cevap{
    font-size: 10px;
  }
}
.navbar_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 8rem;
  padding: 10px 20px;
}


#btn2 {
  background-color: #081852;
  width: 10rem;
  height: 3rem;
  border: 1px solid white;
  color: white;
}
#btn2:hover {
  background-color: white;
  transition: 0.7s;
  color: black;
}
.btn {
  border-radius: 24px;
  width: 8rem;
}
#logo2 {
  height: 3rem;
  padding-left: 1rem;
}
#logo3 {
  height: 5rem;
  padding-left: 3rem;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 5rem;
}
#artlab {
  color: #e0dada;
  font-weight: 600;
  font-size: 10rem;
  margin-top: 5rem;
  margin-bottom: 50px;
  margin-left: 5rem;
  font-family: "Source Code Pro", monospace;
  text-shadow: -14px -29px 0 #261aa4, 14px 29px 0 #600677;
}
.circle1 {
  left: 15rem;
  top: -13rem;
  width: 18rem;
  height: 14rem;
  background-color: #261aa4;
  position: absolute;
  border-radius: 30rem;
  border-style: unset;
  box-shadow: 0 0 120px 120px #261aa4;
  z-index: 4;
}
.circle3 {
  left: -14rem;
  top: 25rem;
  width: 10rem;
  height: 5rem;
  background-color: #006c84;
  position: absolute;
  border-radius: 30rem;
  border-style: unset;
  box-shadow: 0 0 120px 120px #006c84;
}
#hexagon {
  height: 30rem;
}
#logo4 {
  position: absolute;
  height: 14rem;
  left: 66rem;
  top: 25rem;
}

.title {
  font-size: 2rem;
  color: white;
  padding-left: 7rem;
  margin-top: -3rem;
}

